:root {
  --change-body-color: #fff;
  --text-color: #757575;
  --banner-back: #2f303a;
  --change-footer-color: #2f303a;
  --heading2: #212121;
}

body {
  color: var(--text-color);
  background-color: var(--change-body-color);
  font-family: roboto;
  font-size: 14px;
  width: 100%;
  max-width: 1600px;
  margin: 10px auto;
}
h2 {
  font-size: 36px;
  font-weight: 700;
  list-style: 1.16;
  color: var(--heading2);
  padding: 100px 0 40px 0;
}
* {
  margin: 0;
}
/*Header*/

.header {
  display: block;
  max-width: 1600px;
  padding: 0 215px 0 215px;
  background-color: var(--change-main-color);
  border-bottom: 1px solid #e5e5e5;
  color: #2196f3;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
}

.header a.logo {
  font-family: raleway;
  font-size: 26px;
  font-weight: 700;
  color: #2196f3;
  text-decoration: none;
}
.logo span {
  color: #000;
}
.logo:hover {
  text-decoration: none;
}

.header nav {
  display: inline-block;
  position: relative;
  width: 60%;
  height: 80px;
  top: 25px;
}
.header nav a {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}
.header nav a:hover {
  color: #2196f3;
}
.top-menu {
  display: inline-block;
  list-style-type: none;
}
.top-menu li {
  display: inline;
  padding-left: 50px;
}

.contacts-top {
  display: inline-block;
  position: relative;
  float: right;
  top: 25px;
}
.contacts-top ul li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}
.contacts-top a {
  font-size: 14px;
  color: #757575;
  text-decoration: none;
}
.contacts-top a:hover {
  color: #2196f3;
  text-decoration: none;
}
.contacts-top a:focus {
  color: #2196f3;
}

/*main section*/
.main-section {
  padding: 0px 215px 10px 215px;
}
/*index page*/
/*banner*/
.banner {
  width: 1600px;
  height: 600px;
  background-color: var(--banner-back);
  margin: 0;
  text-align: center;
  display: flex;
}
.banner-content {
  margin: auto;
}
.banner-content h1 {
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding: 20px 0 20px 0;
}
.banner-content input {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  width: 200px;
  height: 60px;
  border-radius: 5px;
  border: 1px solid #2196f3;
}
.banner input:hover {
  background-color: #2195f3c7;
  cursor: pointer;
}
/*main section*/
.credo {
  list-style-type: none;
  padding: 70px 0 0 0;
  margin: 0;
}
.credo li {
  color: #757575;
  width: 260px;
  line-height: 1.7;
  display: inline-block;
  padding-right: 25px;
}
.credo h3 {
  color: #212121;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px 0 10px 0;
}
.credo p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
}
/*section products*/
.product {
  text-align: center;
}
.product ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.product ul li {
  display: inline-block;
  padding: 0 10px 60px 0;
}

/*section team*/
.team {
  padding: 0px 215px 95px 215px;
  background-color: #f5f4fa;
  text-align: center;
}
.team ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.team ul li {
  border: 1px solid #e5e5e5;
  height: 404px;
  display: inline-block;
  float: none;
  margin-right: 15px;
  border-radius: 6px;
  box-shadow: 0px 1px #757545;
}
.team a {
  text-decoration: none;
  color: #757575;
  font-size: 16px;
}
.team a h3 {
  padding-top: 30px;
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.12em;
}
.team p {
  padding: 15px 0 35px 0;
}
/*index page end*/

/*portfolio page*/
/*sorting bar*/
.sorting {
  padding: 80px 0 50px 0;
  text-align: center;
}
.sorting li {
  margin: 0 5px 0 5px;
  display: inline;
  list-style-type: none;
}

.sorting input {
  font-size: 16px;
  font-weight: bold;
  color: #212121;
  text-decoration: none;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  height: 38px;
  padding: 10px 15px 10px 15px;
}
.sorting input:hover {
  color: #fff;
  background-color: #2196f3;
  border-radius: 4px;
  box-shadow: 0 3px #d0d0d0;
  cursor: pointer;
}

/*portfolio*/
.portfolio {
  min-width: 1170px;
  display: flex;
  flex-flow: column wrap;
}
.portfolio ul {
  font-size: 16px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.portfolio li {
  border: 1px solid #e5e5e5;
  height: 404px;
  display: inline-block;
  float: none;
  margin: 0 15px 20px 0;
}
.portfolio h3 {
  font-size: 18px;
  font-weight: 600;
  padding: 15px 10px 5px 20px;
}
.portfolio a {
  color: #212121;
  text-decoration: none;
}
.portfolio p {
  color: #757575;
  padding: 5px 10px 10px 20px;
}
/*portfolio page end*/
/*footer*/
.footer {
  padding: 50px 215px 50px 215px;
  background-color: var(--change-footer-color);
}

.logo-bottom {
  font-family: raleway;
  font-size: 26px;
  color: #2196f3;
  text-decoration: none;
}
.logo-bottom span {
  color: #fff;
}
.logo-bottom:hover {
  text-decoration: none;
}
.contacts-bottom a {
  color: #fff;
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
}
.contacts-bottom a:hover {
  color: #757575;
}
.contacts-bottom a:focus {
  color: #757575;
}
.contacts-bottom ul {
  list-style-type: none;
  padding: 10px 0 0 0;
  margin: 0;
}
.contacts-bottom li {
  padding: 5px 0;
}
