:root {
  --main-color: #fff;
  --text-color: #717171;
  --text-hsection-color: #212121;
  --text-hsection-size: 36px;
  --text-hsection-weight: 700;
  --text-paragraph: #757575;
  --bg-footer-color: #2f303a;
  --main-font: 14px;
  --br-team: #f5f4fa;
}

body {
  background-color: var(--main-color);
  color: var(--text-color);
  font-family: roboto;
  font-size: var(--main-font);
  letter-spacing: 0.03;
}
* {
  box-sizing: border-box;
}

/*header, main menu, contacts*/
/*logotype*/
.logo {
  font-family: raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
  padding-top: 5px;
}
.logo span {
  color: #000;
}

.header {
  width: 1600px;
  margin: 0 auto;
  padding: 20px 215px 20px 215px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  border-bottom: 1px solid #ececec;
}
.header nav {
  width: 75%;
  display: flex;
}
.header ul {
  list-style-type: none;
  display: flex;
}
.header ul li {
  margin-left: 50px;
}
.top-menu {
  color: #2196f3;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: inline-block;
}
.top-menu a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.top-menu a:hover,
.top-menu a:focus,
.top-menu:active {
  color: #2196f3;
}

/*.top-menu a:active {
  color: #2196f3;
}*/

.contacts-top a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.contacts-top a:hover {
  color: #2196f3;
}
.contacts-top a:focus {
  color: #2196f3;
}

/*banner*/

.banner {
  background-color: #2f303a;
  text-align: center;
  padding: 200px 0 200px 0;
}
.banner h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
}

.banner-btn {
  background-color: #2196f3;
  border: 0;
  border-radius: 5px;
  padding: 10px 32px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
}
.banner-btn:hover,
.banner-btn:focus {
  color: #ffffff99;
  background-color: #2195f3c7;
  cursor: pointer;
}

/*main section index page*/

.benefits {
  width: 1600px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-paragraph);
}
.benefits ul {
  list-style-type: none;
  display: flex;
  padding: 30px 215px;
}
.benefits ul li {
  display: inline-block;
  padding-right: 30px;
}
.benefits ul li:last-child {
  padding-right: 0;
}
.benefits h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  padding-bottom: 10px;
}
/*product*/

.product {
  width: 1600px;
  margin: 0 auto;
  padding: 50px 215px 94px 215px;
}
.product ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}
.product ul li {
  width: 33%;
  display: inline-block;
}
.product h2 {
  font-weight: var(--text-hsection-weight);
  font-size: var(--text-hsection-size);
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-hsection-color);
  padding: 20px;
}

/*team*/
.bg-team {
  background-color: var(--br-team);
}
.team {
  width: 1600px;
  margin: 0 auto;
  padding: 94px 200px;
}
.team ul {
  display: flex;
  list-style-type: none;
  white-space: nowrap;
  max-width: 1170px;
  padding: 0;
}
.team ul li {
  width: 270px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: 0 10px 0 15px;
}
/*
.team ul li:last-child {margin-right:0;}
*/
.team h2 {
  font-weight: var(--text-hsection-weight);
  font-size: var(--text-hsection-size);
  color: var(--text-hsection-color);
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.team a {
  text-decoration: none;
}
.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
/*portfolio page*/
.main-section {
  width: 1600px;
  margin: 0 auto;
  padding: 50px 215px 50px 215px;
}

.sorting ul {
  align-items: center;
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sorting ul li {
  display: inline-block;
}

.sorting-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  margin: 8px;
  cursor: pointer;
}
.sorting-btn:hover,
.sorting-btn:focus,
.sorting-btn:active {
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio {
  display: flex;
  list-style-type: none;
  padding: 0;
  flex-wrap: wrap;
}
.portfolio li {
  border: 1px solid #eee;
  width: 370px;
  margin: 0 0 30px 15px;
}
.portfolio h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  padding: 10px 5px 4px 24px;
  margin: 0;
}
.portfolio a {
  text-decoration: none;
}
.portfolio p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #757575;
  padding: 0 5px 10px 24px;
  margin: 0;
}
/*footer*/
.bg-footer {
  background-color: var(--bg-footer-color);
}
.footer {
  width: 1600px;
  margin: 0 auto;
  padding: 50px 215px 50px 215px;
}

.logo-bottom {
  font-family: raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}
.logo-bottom span {
  color: #fff;
}
.logo-bottom:focus {
  text-decoration: none;
}
.contacts-bottom a {
  color: #fff;
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
}
.contacts-bottom a:hover,
.contacts-bottom a:focus {
  color: #757575;
}

.contacts-bottom ul {
  list-style-type: none;
  padding: 10px 0 0 0;
  margin: 0;
}
.contacts-bottom li {
  padding: 5px 0;
}
